.index-container {
  color: white;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.intro-h1 {
  margin-bottom: 0;
  font-family: "Sanchez", serif;
  font-size: 38px;
}

.name-span {
  color: hsl(279, 57%, 48%);
  display: block;
  font-family: "Chewy", cursive;
  font-size: 43px;
}

.image-container {
  height: fit-content;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.headshot {
  height: 234px;
  width: 236px;
  border-radius: 5px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.index-container h1 {
  text-align: center;
}

.index-container p {
  max-width: 500px;
  margin: auto;
  font-family: "Sanchez", serif;
}

.deco-shape {
  background-color: hsl(260, 10%, 17%);
  height: 460px;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.icon-container {
  display: none;
}

.headshot-2 {
  height: 350px;
  width: 350px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 5px;
  opacity: 0.9;
}

.image-2-container {
  display: none;
}

@media only screen and (min-width: 750px) {
  .index-container p {
    max-width: 700px;
    font-size: 22px;
  }

  .headshot {
    height: 250px;
    width: 250px;
  }

  .deco-shape {
    height: 600px;
  }

  .intro-h1 {
    font-size: 50px;
  }

  .name-span {
    font-size: 60px;
  }

  .icon-container {
    display: flex;
    margin: 20px auto 0 auto;
    width: fit-content;
  }

  .icon-div {
    height: 50px;
    width: 80px;
    text-align: center;
    margin: 0 5px 0 5px;
  }

  .icon {
    fill: white;
    text-align: center;
  }
}

@media only screen and (min-width: 1300px) {
  .index-container {
    margin-top: 150px;
  }

  .image-container {
    display: none;
  }

  .deco-shape {
    height: 600px;
  }

  .image-2-container {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 275px;
    right: 150px;
  }

  .headshot {
    display: none;
  }

  .index-container p {
    z-index: 0;
  }

  .deco-shape {
    z-index: -2;
  }
}

@media only screen and (min-width: 1700px) {
  .image-2-container {
    right: 250px;
  }
}

@media only screen and (min-width: 1925px) {
  .image-2-container {
    right: 380px;
  }
}

@media only screen and (min-width: 2150px) {
  .image-2-container {
    right: 550px;
  }
}

@media only screen and (min-width: 2400px) {
  .image-2-container {
    right: 650px;
  }
}
